.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header-left {
    font-size: 30px;
    font-weight: bold;
}

li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.header-right {
    list-style-type: none;
}

.main {
    width: 100%;
    display: grid;
    grid-template-rows: 4fr 20fr 5fr 6fr 8fr 2fr;
    grid-template-columns: 3fr 1fr 2fr 2fr;
}

.firstview__ttl {
    font-size: 60px;
    font-weight: bold;
    grid-row: 3/4;
    grid-column: 1/2;

}

.firstview__img {
    grid-row: 2/5;
    grid-column: 3/5;
    z-index: 5;
}

img {
    width: 100%;
}

.firstview__back {
    background-color: #000080;
    grid-row: 4/6;
    grid-column: 1/4;
    z-index: 1;
}